<div class="container">
  <div class="row" style="margin-top:50px;font-size:20px;text-align:center;">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <% if flash[:notice] %>
        <span style="color:green;"><%= flash[:notice] %></span>
      <% end %>
      <% if flash[:error] %>
        <span style="color:red;"><%= flash[:error] %></span>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top:50px;">
    <% emails = ["divya1@yopmail.com","divya2@yopmail.com","divya3@yopmail.com","divya4@yopmail.com"] %>
    <div class="col-xs-6">
      <h2> Send Mail Section</h2>
      <h5 style="color:red;">As am using mailgun sandbox mode you can send mail only to authorized users. So i added ids to authorized users list. please choose email in list to send mail. You can check all the mails in yopmail domain.Open yopmail.com and enter email id.</h5>
      <%= form_tag("/sendmail", method: "get",:class=>"form-horizontal") do %>
        <div class="form-group">
          <%= label_tag :email,"Email*",:class=>"col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= select_tag :email , options_for_select(emails),:class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :subject,"Subject*",:class=>"col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :subject,'',:placeholder => "Enter Subject",:required => true,:class=>"form-control"%>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :description,"Description*",:class=>"col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :description,'',:placeholder => "Enter Description",:required => true,:class=>"form-control"%>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :campaign_id,"CampaignId*",:class=>"col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :campaign_id,'',:placeholder => "Enter CampaignId",:required => true,:class=>"form-control"%>
          </div>
        </div>
        <%= submit_tag "Send Details",:class=>"btn btn-primary pull-right" %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <h3>Suppression List Section</h3>
      <h5 style="color:red;"> Enter divya@yopmail.com i added this id to suppression list </h5>
      <%= form_tag("/suppression_list", method: "get",:class=>"form-horizontal") do %>
        <div class="form-group">
          <%= label_tag :subject,"Email*",:class=>"col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :email,'',:placeholder => "Enter Email",:required => true,:class=>"form-control"%>
          </div>
        </div>
        <%= submit_tag "Get suppression",:class=>"btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Previously Sent Mails Section</h2>
      <%= form_tag("/welcome", method: "get",:class=>"form-horizontal") do %>
        <div class="form-group">
          <%= label_tag :p_email,"Email*",:class=>"col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :p_email,'',:placeholder => "Enter Email",:required => true,:class=>"form-control"%>
          </div>
        </div>
        <%= submit_tag "Get previously sent mails",:class=>"btn btn-primary pull-right" %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <% if @resp &&  @resp["items"] != [] %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recepient</th>
              <th>IP</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @resp["items"].each do |item| %>
              <tr>
                <td><%= item["recipient"] %></td>
                <td><%= item["ip"] %></td>
                <td><%= item["event"] %></td>
                <td><%= item["timestamp"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <span style="color:red;font-size:30px;">No mails sent to this id</span>
      <% end %>
    </div>
  </div>
</div>